ul {
    padding-left: 0;
}

.container-picture {
    background-color: rgba(37, 37, 37, 0.537);
    height: 68vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-pic {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 8em;
}

.container-picture img {
    width: 300px;
    padding: 1em;
    border-radius: 50%;
    border: 3px solid white;
    margin: 1em;
}

.list {
    margin-top: 1em;
}

.list span {
    display: block;
    margin-bottom: 0.2em;
}

.pic {
    display: flex;
    flex-direction: column;
    align-self: center;
}