.container-main {
    height: 68vh;
    background-color: rgba(37, 37, 37, 0.537);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    width: 80%;
}

.orari {
    width: 30%;
    padding: 1em;
    line-height: 30px;
    border-radius: 10px;
    border: 3px solid white;
    background-image: linear-gradient(to right, rgb(255, 94, 94), rgba(255, 200, 0, 0.353));
}

/* .chiuso {
    color: rgb(255, 68, 68);
    font-weight: bold;
} */

.container-buttons-header {
    display: none;
}

.row-buttons {
    display: none;
}
/* MEDIA QUERY */
@media screen and (max-width: 576px) {
    .header {
        height: 30vh;
        flex-direction: column;
        align-items: center;
    }
    
    .container-main {
        flex-direction: column;
    }
    
    .row {
        flex-direction: column;
        width: 90%;
        margin-bottom: 2em;
        margin-top: 2em;
    }

    .row-buttons {
        display: block;
    }
    
    .div {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    
    .div button {
        margin: 10px;
        border: 2px solid rgb(42 171 238);;
    }
    
    .orari {
        width: 100%;
        border: none;
    }
    
    .container-header {
        background-position: 50% 50%;
    }
    
    .container-buttons-header {
        display: flex;
    }

    .container-buttons-header a {
        color: white;
        margin: 0.7em;
        text-transform: uppercase;
    }
    
    /* .container-buttons-header button {
        display: inline;
        border: 1px solid var(--celio);
        width: 100px;
        margin: 1em;
        color: rgba(255, 94, 94, 0.83);
        z-index: 1;
    } */
    
    .box-logo {
        margin-bottom: 2em;
    }
}

button:hover {
    background-color: rgb(42 171 238);
    color: azure;
}
