:root {
    --giallo: rgb(255, 221, 0);
    --celioop: rgba(0, 255, 242, 0.574);
    --celio: rgb(0, 255, 242);
    }

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    background-color: rgba(0, 0, 0, 0.262);
    height: 15vh;
    display: flex;
    align-items: center;
}

.container-header {
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    align-items: center;
    width: 100%;
}


#logo {
    width: 100px;
}

.icons {
    display: none;
}

.slogan-mobile {
    display: none;
}

/* MEDIA QUERY */

@media screen and (max-width: 378px) {
    
    .header {
        background-color: black;
    }    
    
    .box-logo {
        display: flex;
        justify-content: center;
    }
    
    #logo {
        width: 150px;
    }
        
    .header {
        width: 100vw;
        height: 100vh;
    }
    
    .container-header {
        background-color: rgb(249, 249, 249);
        flex-direction: column;
        border-radius: 0 0 70px 70px;
    }
    
    .slogan-mobile {
        display: block;
        text-align: center;
        text-shadow: 2px 2px #9b9b9b8e;
    }
    
    #slogan {
        display: none;
    }
    
    .box-logo {
        margin-top: 1em;
        margin-bottom: 5em;
    }
    
    .icons {
        display: flex;
        justify-content: center;
        left: 50%;
        margin-top: 30%;
    }
    
    .icons img{
        width: 30px;
        margin: 1em;
    }

    .header {
        height: 100vh;
        display: flex;
        align-items: start;
    }
}


/* MAIN */

#index {
    background-image: url(../img/main-bg.png);
    background-position: center;
    background-size: cover;
    opacity: 0.95;
}

.container-main {
    height: 68vh;
    display: flex;
    justify-content: center;
}

.slogan {
    height: 20%;
    display: flex;
    align-items: center;
}

#slogan {
    color: rgba(255, 255, 255, 0.904);
}

.container-buttons {
    display: none;
}


/* MEDIA QUERY */
@media screen and (max-width: 378px) {
    #index {
        background-image: url(../img/main-bg-mobile.png);
        opacity: 0.9;
    } 

    .container-main {
        align-items: center;
    }

    .container-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    button {
        width: 150px;
        padding: 1em;
        display: block;
        margin-bottom: 3em;
        margin-top: 3em;
        border-radius: 10px;
        text-transform: uppercase;
        font-weight: bold;
        background-color: rgb(180, 255, 251);
    }
    
}


/* FOOTER */
.container-footer a {
    color: white;
    font-size: 200%;
}

.container-footer {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.navbar li {
    text-transform: capitalize;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
    text-transform: uppercase;
}

.navbar a {
    text-decoration: none;
}

.icone {
    position: absolute;
    right: 60px;
}

.icone img {
    width: 50px;
    margin-left: 20px;
}

.firma {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.275);
    font-size: 90%;
    height: 5vh;
    text-align: center;
}

/* MEDIA QUERY */
@media screen and (max-width: 378px) {
    .container-footer {
        display: none;
    }

    .icone {
        display: none;
    }

    .firma {
        height: 8vh;
        padding: 1em;
    }

    button {
        border: 5px solid var(--celio);
    }
}

/* HOVER */

.navbar li:hover {
    color: rgb(0, 255, 242);
    transition: 0.3s;
}

.celio {
    color: var(--celio);
}

button:hover {
    background-color: var(--celio);
    color: white;
}

.box-logo {
    width: 110px;
    text-align: center;
}

#logo:hover {
    width: 95px;
    opacity: 0.5;
    transition: 0.2s;
}

.icone a:hover {
    opacity: 0.5;
}

button:focus {
    box-shadow: none;
    box-shadow: 5px 5px var(--celioop);
}

.celio:hover {
    opacity: 0.5;
}


